<div class="card">
    <div class="card-image-container" [class.card-image-square]="showSquareImage" [ngStyle]="getBackgroundImage(element)">
        <img *ngIf="!useBackgroundImage" 
            class="card-img-top" 
            src="{{ element.image }}" 
            alt="{{ element.title }}">

        <div *ngIf="element.source"
            [style.background]="'linear-gradient(transparent, '+themeMainColor+')'">{{ 'source' | translate }}{{ element.source }}</div>
    </div>
    <div class="card-body" [class.card-body-large]="element.title && element.icons && element.icons.length > 0 && element.labels && element.labels.length > 0">
        <h5 class="card-title" *ngIf="element.title">
            <strong>{{ element.title }}</strong>
        </h5>
        <div class="card-icons mb-3" *ngIf="element.icons && element.icons.length > 0">
            <ng-container *ngFor="let icon of element.icons">
                <img src="{{ apiUrl }}{{ icon }}">
            </ng-container>
        </div>
        <ng-container *ngIf="showDescription && element.description">
            <p class="card-text text-muted" [innerHTML]="element.description"></p>
        </ng-container>
        <p class="card-text card-source text-muted" *ngIf="showSource && element.source">
            <small>{{ 'source' | translate }}{{ element.source }}</small>
        </p>
        <div class="card-text card-labels mb-3" *ngIf="element.labels && element.labels.length > 0">
            <ng-container *ngFor="let label of element.labels">
            <span *ngIf="label !== ''"
                class="mr-2" 
                [style.background-color]="themeMainColor">{{ label }}</span>
            </ng-container>
        </div>
        <div *ngIf="showExternalLinkBtn">
            <div *ngFor="let link of element.external_link">
                <a class="btn mb-2" 
                    [class.has-icon]="link.icon"
                    [style.background]="themeMainColor" 
                    href="{{ link.url }}" 
                    target="_blank" 
                    rel="nofollow">
                    <ng-container *ngIf="link.icon && getIcon(link.icon)">
                        <fa-icon [icon]="getIcon(link.icon)" class="fa-2x mr-icon"></fa-icon>
                    </ng-container>
                    <span>{{ 'readmore' | translate }}</span>
                    <span *ngIf="showSourceTextOnBtn">&nbsp;{{ element.source }}</span>
                    <span>&nbsp;{{ 'externallink' | translate }}</span>
                </a>
            </div>
        </div>
    </div>
</div>