{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 4,
    "color-hex-length": "long",
    "selector-type-no-unknown": null,
    "no-duplicate-selectors": null,
    "no-descending-specificity": null
  }
}