<div class="container">
    <div class="row header" [style.background-color]="themeMainColor">
        <div class="col-md-12 text-center">
            <a [routerLink]="['/']" *ngIf="title"><h2 class="mb-2">{{ title }}</h2></a>
        </div>
    </div>
    <div class="row searchbar" [style.background-color]="themeMainColor">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="{{ searchPlaceholder }}" 
                        aria-label="Search" 
                        aria-describedby="search" 
                        name="search" 
                        [value]="searchTerm"
                        (keyup)="setSearchTerm($event.target.value)">

                    <div class="input-group-append">
                        <fa-icon 
                            [icon]="getIcon('times')" 
                            class="clear" 
                            (click)="setSearchTerm('')"
                        ></fa-icon>
                    </div>
                </div>    
            </form>
        </div>
    </div>
    
    <div class="outlet-container" [@routeAnimation]="getAnimation(routerOutlet)">
        <router-outlet #routerOutlet="outlet"></router-outlet>
    <div>
</div>