<div class="container">
    <div class="row header" [style.background-color]="themeMainColor">
        <div class="col-md-12 text-center">
            <a [routerLink]="['/']" *ngIf="title"><h2 class="mb-2 mt-1">{{ title }}</h2></a>
        </div>
    </div>
    <div class="row searchbar" [style.background-color]="themeMainColor">
        <div class="p-0" [class.col-sm-2]="filters.length > 0"  [class.hidden]="filters.length === 0">
            <div class="dropdown">
                <button class="btn">Filter</button>
                <div class="dropdown-content">
                    <ng-container *ngFor="let filterName of filters">
                        <div (click)="filter(filterName)">{{ filterName }}</div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="p-0" [class.col-sm-10]="filters.length > 0"  [class.col-sm-12]="filters.length === 0">
            <search></search>
        </div>
    </div>
    <div class="outlet-container" [@routeAnimation]="getAnimation(routerOutlet)">
        <router-outlet #routerOutlet="outlet"></router-outlet>
    <div>
</div>