<div class="container">
    <div class="row header" [style.background-color]="themeMainColor">
        <div class="col-md-12 text-center">
            <a [routerLink]="['/']" *ngIf="title"><h2 class="mb-2 mt-1">{{ title }}</h2></a>
        </div>
    </div>
    <div class="row searchbar" [style.background-color]="themeMainColor">
        <div class="col-md-12">
            <search></search>
        </div>
    </div>
    
    <div class="outlet-container" [@routeAnimation]="getAnimation(routerOutlet)">
        <router-outlet #routerOutlet="outlet"></router-outlet>
    <div>
</div>