<pagination></pagination>
<div class="row">
    <div class="col-sm" *ngFor="let element of (elements$ | async)">
        <div class="card m-2" [routerLink]="['/', element.id]">
            <div class="card-image-container" [style.backgroundImage]="'url('+element.image+')'">
                <div [style.background]="'linear-gradient(transparent, '+themeMainColor+')'">&copy; {{ element.source }}</div>
            </div>
            <div class="card-body">
                <h5 class="card-title"><strong>{{ element.title }}</strong></h5>
                <p class="card-text text-muted"><small>Source: {{ element.source }}</small></p>
            </div>
        </div>
    </div>
    <div class="col-12 text-center" *ngIf="(elements$ | async)?.length == 0">
        <p>Sorry, nothing here...</p>
    </div>
    <div class="col-12 loader-container" *ngIf="isLoading$ | async">
        <div class="loader"></div>
    </div>
    <div class="col-12 text-center" *ngIf="hasError$ | async">
        <p>Sorry, something went wrong</p>
    </div>
</div>
<pagination></pagination>