<div class="pagination-container mb-3 mt-4">
    <pagination *ngIf="(elements$ | async)?.length > 0 && !(isLoading$ | async)"></pagination>
</div>
<div class="row">
    <div class="col-sm" *ngFor="let element of (elements$ | async)">
        <div class="m-2" [routerLink]="['/', element.id]">
            <card [element]="element" [useBackgroundImage]="true"></card>
        </div>
    </div>
    <div class="col-12 text-center" *ngIf="(elements$ | async)?.length == 0 && !(isLoading$ | async)">
        <p>{{ emptyresult }}</p>
    </div>
    <div class="col-12 loader-container" *ngIf="isLoading$ | async">
        <div class="loader"></div>
    </div>
    <div class="col-12 text-center" *ngIf="hasError$ | async">
        <p>{{ error }}</p>
    </div>
</div>
<div class="pagination-container mb-3 mt-4">
    <pagination *ngIf="(elements$ | async)?.length > 0 && !(isLoading$ | async)"></pagination>
</div>