<form (keydown.enter)="$event.preventDefault()">
    <div class="input-group">
        <input 
            type="text" 
            class="form-control" 
            placeholder="{{ 'search' | translate }}" 
            aria-label="Search" 
            aria-describedby="search" 
            name="search" 
            [value]="searchTerm"
            (keyup)="setSearchTerm($event.target.value)">

        <div class="input-group-append">
            <fa-icon 
                [icon]="getIcon('times')" 
                class="clear" 
                (click)="setSearchTerm('')"
            ></fa-icon>
        </div>
    </div>    
</form>